@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: "Poppins", sans-serif;
}